    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-login-header h2 {
    color: #ff0000;
    font-size: 2em;
    font-weight: 400; 
}


.modal-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-login-form input {
    background-color: #000;
    border: 1px solid #ff0000;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
}

.modal-login-form input::placeholder {
    color: #fff;
}
.modal-login-form label {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
}

.modal-login-form button {
    background-color: #ff0000;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-login-form button:hover {
    background-color: #530000;
    color: var(--primary);
}


#create-btn {
    background-color: #121212;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#create-btn:hover {
    background-color: #fff;
    color: var(--primary);
}
