figure {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100vh;
}
.swiper .swiper-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper .swiper-wrapper .swiper-slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.swiper .swiper-wrapper .swiper-slide .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper .swiper-wrapper .swiper-slide .banner img {
  position: absolute;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 35px;
  z-index: 20;
}
.swiper .swiper-button-prev {
  left: 75%;
}
.swiper .swiper-button-next {
  right: 1%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--primary) !important;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary) !important;
}
.banner img {
  max-width: 790px;
  max-height: 800px;
  width: 50%;
  height: 50%;
}
.left {
  margin-left: 80px;
  position: absolute;
  top: 20vh;
  left: 0;
  z-index: 10;
}
.banner .left .features {
  max-width: 400px;
  margin-bottom: 150px;
}
.banner .left .features .rating {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.banner .left .features .rating .score {
  padding: 20px;
  font-size: 2em;
  font-weight: 400;
  color: var(--primary);
  background-color: #fff;
}
.banner .left .features .content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.banner .left .features .pricing {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .left .features .pricing .buy-btn {
  background-color: #ff0000;
}
.banner .left .features .pricing #icon {
  color: #fff;
  padding: 10px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 22px;
}
