@media (max-width: 1024px) {
  .swiper .swiper-wrapper .swiper-slide .banner img {
    display: block;
    position: absolute;
    max-width: 70%;
    height: auto;
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
  }

  .swiper .swiper-wrapper .swiper-slide .banner .right {
    position: absolute;
    right: 0;
    height: 100vh;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .banner .right .description {
    display: none;
  }

  .banner .right .trailer {
    position: relative;
    top: 60%;
    max-width: 100%;
  }
  .banner .right .trailer h2{
    text-align: center;
  }
  .banner .right .trailer iframe {
    max-width: 350px;
    max-height: 250px;
    margin-bottom: 100px;
  }
  .banner .right .trailer h2 {
    font-size: 5vw;
  }

  .banner .left {
    position: absolute;
    margin-left: 10px;
    top: 25vh;
    height: 50vh;
  }
  .banner .left h1 {
    font-size: 7vw;
    text-align: center !important;
  }

  .banner .left p {
    font-size: 0.8rem;
  }
  .banner .left .features {
    margin-bottom: 20px;
  }

  .banner .left .features .rating .content h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
  .swiper .swiper-button-next::after,
  .swiper .swiper-button-prev::after {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    /* top: 85% !important; */
  }
}
@media (max-width: 480px) {
  header.header {
    padding: 5px !important;
  }
}
