@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "UniSans", "Uni Neue", "Nunito", sans-serif;
  line-height: 1.5;
}
@font-face {
  font-family: "UniSans";
  src: url("../fonts/Uni\ Sans\ Regular.woff") format("woff"), url("../fonts/Uni\ Sans\ Light.woff") format("woff"),
    url("../fonts/Uni\ Sans\ Bold.woff") format("woff"), url("../fonts/Uni\ Sans\ Bold\ Italic.woff") format("woff"),
    url("../fonts/Uni\ Sans\ Book.woff") format("woff"), url("../fonts/Uni\ Sans\ Book\ Italic.woff") format("woff"),
    url("../fonts/Uni\ Sans\ Medium.woff") format("woff"), url("../fonts/Uni\ Sans\ Medium\ Italic.woff") format("woff");
}

:root {
  --primary: #ff0000;
}

body {
  position: relative;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

}
